---
import { getLangFromUrl } from "@/i18n/utils"

import ServicesSection from "@/components/ServicesSection.astro"
import ClientSection from "@/components/ClientSection.astro"
import AboutSection from "@/components/AboutSection.astro"
import ContactSection from "@/components/ContactSection"
import HeroSection from "@/components/HeroSection.astro"
import Layout from "@/layouts/Layout.astro"

const lang = getLangFromUrl(Astro.url)
---

<Layout title="ASM SPA - Mantenimiento Industrial" lang="es" description="">
	<main>
		<HeroSection />
		<AboutSection />
		<ServicesSection />
		<ClientSection />
		<ContactSection lang={lang} />
	</main>
</Layout>
